{% extends "Shop/base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
<div style="width: 300px; margin: auto; margin-top: 50px">

    {% for product in products %}
    <div class="card bg-dark text-white mb-3">
        <p class="card-header">{{ product.name }}</p>
        <p class="card-body">{{ product.price }}</p>
        <p class="card-body">Category: {{ product.category.title }}</p>
        <p class="card-footer"><a class="btn btn-primary" href="{% url 'detail' product.id %}">Click</a>
        </p>
        <br><br>
    </div>
    {% endfor %}
</div>
{% endblock %}
